<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/otherstyles.css') }}"/>
    <script src="{{ url_for('static', filename='scripts/script.js') }}"></script>
    <title>Table Example</title>
</head>
<body>
    <a href="/product">Back to main website</a>
    <h1>Set mattonelle 4x4</h1>
    <div>
        <label for="sizeSelect">Table Size:</label>
        <select id="sizeSelect">
            <option value="5">4x4 5cm</option>
            <option value="10">4x4 10cm</option>
        </select>
    </div>
    <br>
    <table class="table-with-bg">
        <tr>
            <td>Mattonella 1</td>
            <td>Mattonella 2</td>
        </tr>
        <tr>
            <td>Mattonella 3</td>
            <td>Mattonella 4</td>
        </tr>
    </table>
    <p>Selected tiles in total: <span id="counter">0</span></p>
    <p>Selected tiles names: <span id="selectedList"></span></p>
</body>
</html>
