<!DOCTYPE html>
<html lang="en">

<head>
    {% include "jinja/headers.html" %}
    {% block otherstyles %}{% endblock %}
    <title>{% block title %}{% endblock %} - Studio Vertu Europe</title>
</head>
<body>
    <div class="container-fluid">
        {% block content%}{% endblock %}
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
            {% include "jinja/footer_content.html" %}
        </footer>
    </div>
    {% block javascript %}{% endblock %}
</body>

</html>