<!DOCTYPE html>
<html lang="en">

<head>
    {% include "jinja/headers.html" %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/otherstyles.css') }}"/>
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="logo-container">
                    <img src="../static/imgs/logo/sve-upscaled.png" alt="Company Logo" class="company-logo">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="text-center">
                    <h1>Welcome to SVE{% if username %}, {{ username }}{% endif %}
                    </h1>
                    <div class="alert alert-warning" role="alert">
                        This is the first beta version of the website Giacomo Lorenzi is building for SVE s.r.l. (Studio
                        Vertu
                        Europe).
                    </div>
                    {% if username %}
                    <a href="/categories" class="btn btn-success">Enter</a>
                    <a href="/basket" class="btn btn-info">Basket</a>
                    <a href="/logout" class="btn btn-danger">Logout</a>
                    {% else %}
                    <a href="/login" class="btn btn-primary">Enter</a>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="text-center">
                    <p class="paragraph-style">{% block histroy %}{% endblock %}
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="background-fade">
            </div>
        </div>
    </div>
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 border-top"></footer>
    {% include "jinja/footer_content.html" %}
    </footer>
    {% include "jinja/bootstrap_js.html" %}
</body>

</html>