/* Code below regulates aspect of buttons on product page */

table {
    border-collapse: collapse;
    border: 2px solid #000;
    /* Add a border to the table */
    table-layout: fixed;
    margin-bottom: 20px;
  }
  
  table td {
    width: 300px;
    height: 300px;
    border: 1px solid black;
    text-align: center;
    text-shadow: 0px 0px 10px white;
  }
  
  table td:hover {
    background-color: lightblue;
    opacity: 25%;
  }
  
  table td.selected {
    background-color: #3b83ff;
    opacity: 75%;
    color: white;
    text-shadow: 5px 5px 10px black;
  }

label{
  font-size: 1.25rem; /* Increase the font size for the paragraph */
  line-height: 1.6; /* Increase the line height for better readability */
  text-align: justify; /* Justify the text within the paragraph */
  margin-bottom: 20px;
}