table {
    border-collapse: collapse;
  }
  
  table td {
    width: 300px;
    height: 300px;
    border: 1px solid black;
    text-align: center;
  }
  
  table td:hover {
    background-color: lightblue;
  }
  
  table td.selected {
    background-color: #3b83ff;
    color: white;
}

.error {
  color: red;
}

.success {
  color: green;
}

