{% extends "jinja/bases/general_base.html" %}
{% block otherstyles %}
<style>
    .bi-trash:hover {
        fill: lightcoral;
        /* Change the color to a lighter one when hovering */
        cursor: pointer;
    }
</style>
{% endblock %}
{% block title %}Basket{% endblock %}
{% block content%}
<div class="text-center">
    <h1>Your Basket</h1>
    <div class="row d-flex justify-content-center">
        <div class="col-md-6">
            <a href="/categories" class="btn btn-secondary">Back</a>
            <a href="/logout" class="btn btn-danger">Logout</a>
            {% if basket_data %}
            <table class="table table-bordered table-striped table-hover">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">Product Name</th>
                        <th scope="col">Type</th>
                        <th scope="col">Selected Tiles in Total</th>
                        <th scope="col">Tiles Details</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in basket_data %}
                    <tr>
                        <td>{{ item.product_name }}</td>
                        <th>{{ item.product_type }}</th>
                        <td>{{ item.product_counter }}</td>
                        <td>{{ item.selected_tiles }}</td>
                        <td>{{ item.product_quantity }}</td>
                        <td>
                            <form action="/basket" method="post">
                                <input type="hidden" name="remove" value="{{ item.product_name }}-{{ item.product_type }}-{{ item.product_counter }}-{{ item.selected_tiles }}-{{ item.product_quantity }}">
                                <button type="submit" class="btn btn-link">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-trash" viewBox="0 0 16 16">
                                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"/>
                                        <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"/>
                                    </svg>
                                </button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>


            {% else %}
            <p>Your basket is empty.</p>
            {% endif %}
            <form
                action="mailto:lorenzi@lorenzi.net example.com?subject=Order number %23 1&body=Hi, this is the text of the order"
                method="post" enctype="text/plain">
                Name:<br>
                <input type="text" name="name"><br>
                E-mail:<br>
                <input type="text" name="mail"><br>
                Phone number:<br>
                <input type="text" name="mail"><br>
                Comment:<br>
                <input type="text" name="comment" size="50"><br><br>
                <input type="submit" class="btn btn-success" name="generate_email" value="Confirm Order">
            </form>
            <form action="/basket" method="post">
                <input class="btn btn-danger" type="submit" name="reset" value="Empty basket"
                    onclick="return showConfirmation('Are you sure you want to delete all the items in the basket?')">
            </form>
        </div>
    </div>
</div>
{% endblock %}
{% block javascript %}
<script src="{{ url_for('static', filename='scripts/confirmation_script.js') }}"></script>
{% include "jinja/bootstrap_js.html" %}
{% endblock %}