{% extends "jinja/bases/general_base.html" %}
{% block title %}Basket{% endblock %}
{% block content%}
<div class="text-center">
    <h1>Your Basket</h1>
    <div class="row d-flex justify-content-center">
        <div class="col-md-6">
            <a href="/logout" class="btn btn-danger">Logout</a>
            <p>Here are the products you added to your basket:</p>
            <ul>
                <li>SET 1098 (tiles 1, 2, 3) x 4</li>
                <li>SET 2889 (tiles 2, 3) x 7</li>
                <li>SET 3901 x 3</li>
            </ul>
            <form action="mailto:someone@example.com example.com" method="post" enctype="text/plain">
                Name:<br>
                <input type="text" name="name"><br>
                E-mail:<br>
                <input type="text" name="mail"><br>
                Phone number:<br>
                <input type="text" name="mail"><br>
                Comment:<br>
                <input type="text" name="comment" size="50"><br><br>
                <input type="reset" class="btn btn-danger" value="Empty basket">
                <a href="mailto:mail@example.com">
                    <input type="submit" class="btn btn-success" name="generate_email" value="Generate email">
                </a>
            </form>
        </div>
    </div>
</div>
{% endblock %}