{% extends "jinja/bases/general_base.html" %}
{% block otherstyles %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/otherstyles.css') }}" />{% endblock %}
{% block title %}Categories{% endblock %}
{% block content%}
<div class="text-center">
    <a href="/logout" class="btn btn-danger">Logout</a>
    <a href="/basket" class="btn btn-info">Basket</a>
    <h1>Categories</h1>
    <p>Choose a category from below:</p>
    <a href="/collections" class="btn btn-secondary marble-button" name="category" value="marble">Marble</a>
    <a href="/collections" class="btn btn-secondary terracotta-button" name="category" value="terracotta">Terracotta</a>
    <a href="/collections" class="btn btn-secondary wood-button" name="category" value="wood">Wood</a>
    <div class="container">
        <form action="/collections" method="post">
            <div class="row">
                <div class="col">
                    <button type="submit" name="category" value="Marble" class="btn btn-link marble-button">
                    Marble
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <button type="submit" name="category" value="Terracotta" class="btn btn-link terracotta-button">
                     Terracotta
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <button type="submit" name="category" value="Wood" class="btn btn-link wood-button">
                    Wood  
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}