{% extends "jinja/bases/general_base.html" %}
{% block otherstyles %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/otherstyles.css') }}" />{% endblock %}
{% block title %}Collections{% endblock %}
{% block content%}
<div class="text-center">
    <a href="/logout" class="btn btn-danger">Logout</a>
    <a href="/basket" class="btn btn-info">Basket</a>
    <h1>{% if chosen_category %}{{ chosen_category }}{% endif %}</h1>
    <p>Choose a collection from below:</p>
</div>
<div class="container">
    {% if chosen_category|lower == "marble" %}
    <form action="/product" method="post">
        <div class="row">
            <div class="col">
                <button type="submit" name="collection" value="../static/imgs/marble/cu237-marble-coaster-ancient-greek-women-gynoecium.jpg" class="btn btn-link">
                    <img src="../static/imgs/marble/cu237-marble-coaster-ancient-greek-women-gynoecium.jpg"
                        class="img-fluid" alt="set_marble_tiles_1">
                </button>
            </div>
            <div class="col">
                <button type="submit" name="collection" value="../static/imgs/marble/cu367-marble-coaster-pompei-frescoes.jpg" class="btn btn-link">
                    <img src="../static/imgs/marble/cu367-marble-coaster-pompei-frescoes.jpg"
                        class="img-fluid" alt="set_marble_tiles_2">
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <button type="submit" name="collection" value="set_marble_tiles_3" class="btn btn-link">
                    <img src="../static/imgs/marble/cu368-marble-coaster-pompei-frescoes.jpg"
                        class="img-fluid" alt="set_marble_tiles_3">
                </button>
            </div>
            <div class="col">
                <button type="submit" name="collection" value="set_marble_tiles_4" class="btn btn-link">
                    <img src="../static/imgs/marble/cu369-marble-coaster-italian-renaissance-deco.jpg"
                        class="img-fluid" alt="set_marble_tiles_4">
                </button>
            </div>
        </div>
    </form>
    {% elif chosen_category|lower == "terracotta" %}
    <form action="/product" method="post">
        <div class="row">
            <div class="col">
                <button type="submit" name="collection" value="set_terracotta_tiles_1" class="btn btn-link">
                    <img src="../static/imgs/terracotta/xtcu289.jpg"
                        class="img-fluid" alt="set_terracotta_tiles_1">
                </button>
            </div>
            <div class="col">
                <button type="submit" name="collection" value="set_terracotta_tiles_2" class="btn btn-link">
                    <img src="../static/imgs/terracotta/xtcu290.jpg"
                        class="img-fluid" alt="set_terracotta_tiles_2">
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <button type="submit" name="collection" value="set_terracotta_tiles_3" class="btn btn-link">
                    <img src="../static/imgs/terracotta/xtcu291.jpg"
                        class="img-fluid" alt="set_terracotta_tiles_3">
                </button>
            </div>
            <div class="col">
                <button type="submit" name="collection" value="set_terracotta_tiles_4" class="btn btn-link">
                    <img src="../static/imgs/terracotta/xtcu292.jpg"
                        class="img-fluid" alt="set_terracotta_tiles_4">
                </button>
            </div>
        </div>
    </form>
    <div class="text-center">
        {% elif chosen_category|lower == "wood" %}
        <p>The {{ chosen_category }} products will arrive soon!</p>
        <a href="/" class="btn btn-primary">Homepage</a>
        {% endif %}
    </div>
</div>
{% endblock %}