{% extends "jinja/bases/index_base.html" %}
{% block title %}Home - Studio Vertu Europe{% endblock %}

{% block announcement %}
This is an academical version of the website which Giacomo Lorenzi is building for SVE s.r.l.
(Studio Vertu Europe).
<br>
Therefore, this version of the website is strictly reserved for academical purposes and does not offer all the products
available in the official website at the link below.
<br>
<a class="link-offset-2" href="http://www.studiovertueur.com/" target="_blank">www.studiovertueur.com</a>
{% endblock %}

{% block histroy_part1 %}
During the Roman period, Verona and Valpolicella were already known for the quarrying and
processing of their marbles. They were used both for defensive and decorative purposes: the
streets, the churches, the buildings, and the monuments of Verona are made of this noble
material, and their astonishing beauty still amazes visitors.
<br><br>
Nowadays, Verona hosts one of the most important districts for marble processing, relying on
a network of producers and craftsmen of the highest level and competence. STUDIOSVE is part
of this story.
<br><br>
{% endblock %}

{% block histroy_part2 %}
It all began when Leo, fascinated by the frescoes he could see in his hometown and a
descendant of an ancient family of artists (discover more at <a href="http://www.lorenzi.net/"
    target="_blank">www.lorenzi.net</a>), developed an
innovative technique to reproduce those paintings on marble. This was the starting point of
a new era in the family business.
<br><br>
Now, STUDIOSVE offers a wide range of gift articles and decorative objects. We have
"quarried" more than 2000 different images. Other Italian traditional materials like
terracotta and slate were introduced. We customize our products on demand. The only limit is
your imagination.
{% endblock %}