<!DOCTYPE html>
<html>

<head>
    {% include "jinja/headers.html" %}
    <link rel="stylesheet" type="text/css" href="../static/style/otherstyles.css"/>
    <script src="../static/scripts/script.js"></script>
    <title>Product details - Studio Vertu Europe</title>
</head>

<body>
    <div class="container text-center">
        <h1>Product details</h1>
        <p>Selected product:</p>
        <p class="text-muted">Here there should be a multiple selection that allows to choose the exact tiles.</p>
        <a href="examples/selectionmenu.html">Check multiple selection example here</a><br>
        
        <label for="sizeSelect">Table Size:</label>
        <select id="sizeSelect">
            <option value="5">4x4 5cm</option>
            <option value="10">4x4 10cm</option>
        </select>
    
    <br>
    <div class="d-flex justify-content-center mt-3">
    <table class="table-with-bg">
        <tr>
            <td>Mattonella 1</td>
            <td>Mattonella 2</td>
        </tr>
        <tr>
            <td>Mattonella 3</td>
            <td>Mattonella 4</td>
        </tr>
    </table>
    </div>
    <p>Selected tiles in total: <span id="counter">0</span></p>
    <p>Selected tiles names: <span id="selectedList"></span></p>
    </div>
    <div class="d-flex justify-content-center mt-3">
        <button type="button" class="btn btn-secondary" onclick="document.location='basket.html'">Order</button>
    </div>
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        {% include "jinja/footer_content.html" %}
    </footer>
</body>

</html>